%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2013-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{minimum_otp_vsn, "24"}.

{erl_opts, [
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_untyped_record,
    warn_unused_import,
    warnings_as_errors
]}.

{escript_emu_args,
    "%%! -escript main cuttlefish_escript +S 1 +A 0\n"}.
{escript_incl_apps, [getopt]}.
{escript_main_app, cuttlefish}.

{deps, [
    {getopt,
        {git, "https://github.com/jcomellas/getopt.git", {tag, "v1.0.2"}}}
]}.

{post_hooks, [
    {escriptize, "/bin/ln -f \"$REBAR_BUILD_DIR/bin/cuttlefish\" ./cuttlefish"}
]}.

{profiles, [
    {check, [
        {dialyzer, [
            {warnings, [
                error_handling,
                unknown
                % it might be good to clean these up at some point
                % unmatched_returns
            ]}
        ]},
        {erl_opts, [
            debug_info,
            {d, 'CHECK'}
        ]},
        {overrides, [
            {add, getopt,   [{erl_opts, [debug_info]}]},
            {add, lager,    [{erl_opts, [debug_info]}]}
        ]},
        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]}
    ]},
    {dev, [
        {deps,      [neotoma]},
        {plugins,   [rebar3_neotoma_plugin]}
    ]},
    {docs, [
        {edoc_opts, [
            {app_default, "http://www.erlang.org/doc/man"},
            {preprocess, true},
            {macros, [
                {'EDOC', true}
            ]}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            {d, 'PROD'}
        ]},
        {provider_hooks, [
            {post,  [{compile, escriptize}]}
        ]}
    ]},
    {test, [
        {cover_enabled,         true},
        {cover_export_enabled,  true},
        {cover_print_enabled,   true},
        {erl_opts, [
            debug_info,
            nowarn_deprecated_function,
            nowarn_export_all,
            nowarn_unused_function,
            nowarn_unused_import
        ]},
        {eunit_opts, [verbose]}
    ]},
    {validate, [
        {erl_opts, [
            strong_validation,
            % Lots of missing specs, should be cleaned up at some point.
            warn_missing_spec,
            warn_untyped_record,
            {d, 'VALIDATE'}
        ]}
    ]}
]}.
